<div id="footer">
    <div class="container-fluid">
        <div class="span12">
            <div id="logo-footer"><a href="{{path('dropmovi_frontend_homepage')}}">Dropmovi</a>&nbsp; &nbsp;<small>You drop it, I take it!</small></div>
            <div id="menu-footer">
                <small><a>Sobre nosotros</a> | <a>Términos</a> | <a>Contacto</a> | <a>Desarrolladores</a></small>
            </div>
        </div> 
        <div class="span12">
            <div id="copyright-footer">Copyright © 2012 <a href="http://www.agilecode.com.ar">Agilecode</a>. Todo el contenido © fue cargado por los usuarios de Dropmovi<br> Córdoba, Argentina</div>
        </div>
    </div>
</div>