{%extends "DropmoviFrontendBundle:Template:frontend_template.html.twig"%}
{%block container%}
<div class="container-fluid">
    <div class="span12">
        <!-- List -->
        <ul class="breadcrumb filters-home">
            <li><a id="filter-popular" href="{{path('dropmovi_frontend_list_publications', {'filter':'popular'})}}">Popular</a> <span class="divider">|</span></li>
            <li><a id="filter-recent" href="{{path('dropmovi_frontend_list_publications', {'filter':'recents'})}}">Reciente</a> <span class="divider">|</span></li>
            <li><a id="filter-all" href="{{path('dropmovi_frontend_list_publications', {'filter':'all'})}}">Todo</a></li>
        </ul>
        <!-- load the publications -->
        <div id="wrapper-result-publi"></div>
    </div>
</div>
{%endblock%}
