{%extends "DropmoviFrontendBundle:Template:frontend_template.html.twig"%}
{%block title%}¡Bienvenido a {{parent()}}!{%endblock%}
{%block container%}
<div class="container-fluid">
    <div class="span8 well">
        <!--Sidebar content-->
    </div>
    <div class="span4 well">
        <!--Sidebar content-->
    </div>
</div>
{%endblock%}
