{%if is_granted('ROLE_USER') and app.user.id == publication.author.id%}
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-edit"></i>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{{path ('dropmovi_frontend_edit_publication', {'id':publication.id})}}">Editar</a></li>
          <li><a href="{{path ('dropmovi_frontend_remove_publication', {'id':publication.id})}}">Eliminar</a></li>
        </ul>
    </div>
{%else%}
    <!--
    <a type="button" data-toggle="button" class="btn btn-info">
            <i class="icon-star icon-white"></i>
    </a>
    -->
{%endif%}