<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-edit"></i>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="">Editar</a></li>
    <li><a href="">Eliminar</a></li>
  </ul>
</div>
