{%extends "DropmoviFrontendBundle:Template:frontend_template.html.twig"%}
{%block container%}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span7 offset1 column-left">
            <!-- List -->
            <ul class="nav nav-pills menu-home">
                <li class="active"><a id="filter-popular" href="{{path('dropmovi_frontend_list_publications', {'filter':'popular'})}}">Populares</a></li>
                <li><a id="filter-recent" href="{{path('dropmovi_frontend_list_publications', {'filter':'recents'})}}">Recientes</a></li>
                <li><a id="filter-all" href="{{path('dropmovi_frontend_list_publications', {'filter':'all'})}}">Todo</a></li>
            </ul>
            <!-- load the publications -->
            <div id="wrapper-result-publi"></div>
        </div>
        <div class="span3">
            <div class="wrapper-collumn-right">
                <h4>Envia <span>una invitación</span></h4>
                <p>
                    <small>
                        Enviale una invitacion a un amigo para que se una a Dropmovi.
                    </small>
                    <div class="input-append">
                        <input class="span9" placeholder="Email" type="text" required="required">
                        <button class="btn" type="submit">Enviar!</button>
                    </div>
                </p>
                {%render 'DropmoviFrontendBundle:Snippets:newUsers'%}
                {%render 'DropmoviFrontendBundle:Snippets:newPublications'%}
            </div>
        </div>
    </div>
</div>
{%endblock%}
